h1 {
    padding-top: 0;
    margin-bottom: 100px;
    text-align: center;
    color: #012E40;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-form {
    margin-left: -200px;
    padding-top: 100px;
}

.esqueceu-senha {
    text-align: center;
    color: #012E40;
    font-family: "Inter", sans-serif;
    font-size: 32;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.edit-label {
    padding-bottom: 50px;
    text-align: center;
    color: #012E40;
    font-family: "Inter", sans-serif;
    font-size: 32;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cadastro {
    padding-top: 30px;
    text-align: center;
    color: #012E40;
    font-family: "Inter", sans-serif;
    font-size: 32;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}

button {
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #024959;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}