h2 {
    font-size: 16px;
    color: #012E40;
    font-family: Inter;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    padding: 20px 0 0 20px;

}

mat-dialog-content {
    font-size: 14px;
    color: #012E40;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0 0 20px;
}
